<div class="w-full relative">
    <img
        class="absolute top-10 z-10 w-[800px] left-0 right-0 m-auto"
        src="/logo-home.svg"
        alt="Esland - premios a la comunidad hispanohablante de streaming"
    />
    <video
        style="clip-path: polygon(0 0, 100% 0, 100% 82%, 51% 100%, 48% 99%, 0 83%);"
        class="w-full h-screen object-cover object-top animate-fade animate-ease-in-out animate-duration-1000"
        src="/360_LOGO.mp4"
        autoplay
        loop
        muted></video>
    <video
        class="absolute -bottom-48 blur-3xl -z-40"
        src="/360_LOGO.mp4"
        autoplay
        loop
        muted></video>
</div>
